name: Daily Stock Scan

on:
  schedule:
    - cron: '0 0 * * *' # 每天北京时间早上8点运行 (UTC 0:00)
  workflow_dispatch: # 允许手动点运行

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install Dependencies
        run: pip install -r requirements.txt

      - name: Run Script
        run: python main.py
